@import "reset.css";


/* ======================helpers========================== */
.container
{
    padding-left: 100px;
    padding-right: 100px;
}

/* background primaire */
.bg_primary
{
    background-color: #b4cfb0;
}

/* background secondaire section */
.bg-section
{
    background-color: #f2f8f2;
}

/* font nunito */
.font-nunito
{
    font-family: 'Nunito', sans-serif; 
}

/* display flex */
.d-flex
{
    display: flex;
}

.py-section
{
    padding-top: 60px;
    padding-bottom: 60px;
}

.f-reverse
{
    flex-direction: row-reverse;
}

/* centrer le texte */
.text-center
{
    text-align: center;
}

/* ===================================html=========================== */
/* html 
{
    scroll-behavior: smooth;
}*/

/* ===========================header =======================*/
header
{
    background-color: #b4cfb0;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

/* .wrapper-header_nav (autre méthode pour mettre de l'espace entre le menu (accueil contact à propos)
{
    display: flex;
    gap: 20px;
}*/

.wrapper-header_nav a
{
    padding: 0 5px;
    color: #fff;
}

/* logo modification */
.logo
{
    font-size: 20px;
    font-weight: 900;
    color: red;
    border: 3px solid #fff;
    border-radius: 0 10px 0 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px black;
    /* font-family: 'Nunito', sans-serif; */
}

.to-logo
{
    color:#fff;
}
/* fin de logo modification */

/* Hero============================ */
.wrapper-header_hero
{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1576398289164-c48dc021b4e1);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    font-weight: 900;
    z-index: 100;
}

.overlay{
    /* background-color: #000; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,168,21,1) 37%, rgba(0,177,213,1) 100%);
    opacity: .3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.Mito-h1-hero{
    color: #ff0000;
}